<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/fonts.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/pygments.snytax.css?body=1" rel="stylesheet" type="text/css" media="all">
    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-368586-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>

  <body>

    <div class="container">

      <div class="content">
        {{ content }}
      </div>
      <hr/>
      <div class="footer_content row">
        <div class="posts_collation span2 first">
          <h4><i class="icon-book"></i> Archives</h4>
          {% for post in site.posts %}
            <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
          {% endfor %}
        </div>
        <div class="contact span2">
          <h4><i class="icon-user"></i> Contact</h4>
          <a href="mailto:bhauman@gmail.com">bhauman@gmail.com</a>
          <a href="http://twitter.com/bhauman">twitter</a>
        </div>
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} 2012 </p>
      </footer>

    </div> <!-- /container -->


  </body>
</html>
