^{:watch-dirs ["src"]
  :open-url false
  ; :css-dirs ["resources/public/css"]
   }
{:main inline-e.post
 :output-dir "../assets/inline-edit/out"
 :output-to  "../assets/inline-edit/main.js"
 :asset-path "/assets/inline-edit/out"}
