.afs-cartogothic-std { font-family: "CartoGothic Std", "Verdana", "Lucida Grande", "Gill Sans", "Arial", "Helvetica", sans-serif; ;}

.afs-droid-serif { font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif; font-size: 0.912em;}

.afs-kontrapunkt { font-family: "Kontrapunkt", Rockwell, serif; font-size: 1.052em;}

.afs-tex-gyre-cursor { font-family: "TeX Gyre Cursor", Menlo, Courier New, Courier, Mono, monospace; font-size: 1.173em;}


@font-face {
  font-family: 'CartoGothic Std';
  src: url('../fonts/CartoGothicStd-Bold-webfont.eot');
  src: local('☺'), url('../fonts/CartoGothicStd-Bold-webfont.woff') format('woff'), url('../fonts/CartoGothicStd-Bold-webfont.ttf') format('truetype'), url('../fonts/CartoGothicStd-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'CartoGothic Std';
  src: url('../fonts/CartoGothicStd-BoldItalic-webfont.eot');
  src: local('☺'), url('../fonts/CartoGothicStd-BoldItalic-webfont.woff') format('woff'), url('../fonts/CartoGothicStd-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/CartoGothicStd-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'CartoGothic Std';
  src: url('../fonts/CartoGothicStd-Book-webfont.eot');
  src: local('☺'), url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff'), url('../fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'), url('../fonts/CartoGothicStd-Book-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'CartoGothic Std';
  src: url('../fonts/CartoGothicStd-Italic-webfont.eot');
  src: local('☺'), url('../fonts/CartoGothicStd-Italic-webfont.woff') format('woff'), url('../fonts/CartoGothicStd-Italic-webfont.ttf') format('truetype'), url('../fonts/CartoGothicStd-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Kontrapunkt';
  src: url('../fonts/Kontrapunkt-Bold-webfont.eot');
  src: local('☺'), url('../fonts/Kontrapunkt-Bold-webfont.woff') format('woff'), url('../fonts/Kontrapunkt-Bold-webfont.ttf') format('truetype'), url('../fonts/Kontrapunkt-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Kontrapunkt';
  src: url('../fonts/Kontrapunkt-Light-webfont.eot');
  src: local('☺'), url('../fonts/Kontrapunkt-Light-webfont.woff') format('woff'), url('../fonts/Kontrapunkt-Light-webfont.ttf') format('truetype'), url('../fonts/Kontrapunkt-Light-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Kontrapunkt';
  src: url('../fonts/Kontrapunkt-LightItalic-webfont.eot');
  src: local('☺'), url('../fonts/Kontrapunkt-LightItalic-webfont.woff') format('woff'), url('../fonts/Kontrapunkt-LightItalic-webfont.ttf') format('truetype'), url('../fonts/Kontrapunkt-LightItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 200;
  font-style: italic;
}



@font-face {
  font-family: 'TeX Gyre Cursor';
  src: url('../fonts/texgyrecursor-bold-webfont.eot');
  src: local('☺'), url('../fonts/texgyrecursor-bold-webfont.woff') format('woff'), url('../fonts/texgyrecursor-bold-webfont.ttf') format('truetype'), url('../fonts/texgyrecursor-bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'TeX Gyre Cursor';
  src: url('../fonts/texgyrecursor-bolditalic-webfont.eot');
  src: local('☺'), url('../fonts/texgyrecursor-bolditalic-webfont.woff') format('woff'), url('../fonts/texgyrecursor-bolditalic-webfont.ttf') format('truetype'), url('../fonts/texgyrecursor-bolditalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'TeX Gyre Cursor';
  src: url('../fonts/texgyrecursor-italic-webfont.eot');
  src: local('☺'), url('../fonts/texgyrecursor-italic-webfont.woff') format('woff'), url('../fonts/texgyrecursor-italic-webfont.ttf') format('truetype'), url('../fonts/texgyrecursor-italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'TeX Gyre Cursor';
  src: url('../fonts/texgyrecursor-regular-webfont.eot');
  src: local('☺'), url('../fonts/texgyrecursor-regular-webfont.woff') format('woff'), url('../fonts/texgyrecursor-regular-webfont.ttf') format('truetype'), url('../fonts/texgyrecursor-regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}
